<h1>
  {{title}}
</h1>
<p>{{test | json}}</p>
<dx-button text="Press me" (onClick)="alert('bllaa')"></dx-button>
<dx-button [text]="okButtonOptions.text" [type]="okButtonOptions.type" (onClick)="okButtonOptions.onClick()"></dx-button>
<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Normal</div>
        <div class="dx-field-value">
            <dx-button [text]="okButtonOptions.text" [type]="'success'" (onClick)="okButtonOptions.onClick()"></dx-button>
        </div>
    </div>
</div>
<!-- <app-modal></app-modal> -->
<xxx></xxx>
